@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home-chatbot-box-center{
    display: flex;
    flex-direction: column; /* Organise les enfants en colonne */
    align-items: center; /* Centre les enfants verticalement */
    justify-content: center; /* Centre les enfants horizontalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre du navigateur */
    text-align: center; /* Assure que le texte est centré à l'intérieur des blocs enfants */
}

.container {
    text-align: center;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    padding: 0 60px;
    backdrop-filter: blur(8px); /* Effet de flou */
    background-color: rgba(255, 255, 255, 0.5); 
    color: var(--text-color);
    border-radius: 20px; 
}

.container h1 {
    font-size: 3em; /* Taille de la police pour les grands écrans */
    font-weight: 600;
    color: black;
}

.container p {
    margin-top: 4vh;
    font-size: 1.2em; /* Taille standard pour le texte */
}

.btn-group {
    display: flex;
    flex-direction: row;  
    justify-content: center; 
    align-items: center; 
}

.btn {
    margin: 20px; 
    padding: 10px 20px; 
    border-radius: 1.4vh;
}

.btn-primary {
    background-color: rgb(0, 153, 255); 
    color: white; 
    border: none;
}

.btn-secondary {
    background-color: rgb(255, 50, 153); 
    color: white; 
    border: none; 
}

.btn:hover {
    background-color: grey;
}

/* Style par défaut pour les liens */
a {
    color: white;
    /* Couleur du texte blanc */
    text-decoration: none;
    /* Supprime le soulignement par défaut */
    transition: color 0.3s ease;
    /* Ajoute une transition pour une animation fluide */
}

/* Style au survol (hover) */
a:hover {
    color: rgba(13, 110, 253, 1); /* Réduit l'opacité du blanc pour rendre le lien plus transparent */
}

/* Style lorsque le lien est cliqué */
a:active {
    color: white; /* Retourne au blanc lorsque le lien est cliqué */
}