body {
    font-family: Arial, sans-serif;
    background-color: #9c9c9c;
    margin: 0;
    padding: 0;
    background-image: url('placeholder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond semi-transparente */
    padding: 20px;
    margin:50px;
    backdrop-filter: blur(10px); /* Effet de flou */
    border-radius: 10px; /* Ajoute des bords arrondis de 10px à tous les côtés */
    overflow: hidden; /* Pour s'assurer que le contenu à l'intérieur respecte les bords arrondis */
}

#header {
    display: flex;
    justify-content: space-between; /* Pour aligner le titre à gauche et le formulaire à droite */
    align-items: center; /* Pour centrer verticalement les éléments */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px; /* Ajout de padding pour un meilleur aspect visuel */
    box-sizing: border-box; /* Pour inclure le padding dans la largeur totale */
}

h1 {
    margin: 0; /* Pour enlever les marges par défaut */
    color: white;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

 form {
    display: flex; /* Pour aligner les éléments du formulaire sur une ligne */
}

input[type="text"] {
    width: calc(100%);
    padding: 10px;
    margin-right: 10px; /* Ajout d'une marge entre la barre de recherche et le bouton */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #97a6ac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #bdd0d7;
    }

input[type="text"]:focus {
    outline: none;
    border-color: #4caf50;
}

datalist {
    margin-top: 10px;
}

option {
    background-color: #fff;
    padding: 5px;
}

.label-select {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.select-input {
    display: inline-block;
    vertical-align: middle;
}

/* Style par défaut pour les liens */
a {
    color: white; /* Couleur du texte blanc */
    text-decoration: none; /* Supprime le soulignement par défaut */
    transition: color 0.3s ease; /* Ajoute une transition pour une animation fluide */
}

    /* Style au survol (hover) */
    a:hover {
        color: rgba(255, 255, 255, 0.7); /* Réduit l'opacité du blanc pour rendre le lien plus transparent */
    }

    /* Style lorsque le lien est cliqué */
    a:active {
        color: white; /* Retourne au blanc lorsque le lien est cliqué */
    }
