body {
    background-image: url('placeholder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0; /* Pour s'assurer que le voile est placé sous le contenu */
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #97a6ac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #BDD0D7;
    }

input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
}

datalist {
    margin-top: 10px;
}

option {
    background-color: #fff;
    padding: 5px;
}
