<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Chatbot</title>
    <link rel="stylesheet" href="../../static/style-chatbot.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="../../static/script-general.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='search.js')}}"></script>

    <div id="header">
      <h1><a href="/">Anime Atlas</a></h1>
      <h2><a href="/recommendations">Recommend me</a></h2>
      <h2><a href="/home-chatbot">Chat</a></h2>
      <form action="/search" method="get" class="search-form">
          <input type="text" name="Mod_name" placeholder="Enter anime name" list="anime-suggestions">
          <datalist id="anime-suggestions">
              <!-- Suggestions will be dynamically filled here -->
          </datalist>
          <button type="submit" class="search-button">Search</button>
      </form>
    </div>

  </head>
  <body>
    <!-- Chats container -->
    <div class="chat-container"></div>
    
    <!-- Typing container -->
    <div class="typing-container">
      <div class="typing-content">
        <div class="typing-textarea">
          <textarea id="chat-input" spellcheck="false" placeholder="Enter your question here" required></textarea>
          <span id="send-btn" class="material-symbols-rounded">send</span>
        </div>
        <div class="typing-controls">
          <span id="theme-btn" class="material-symbols-rounded">light_mode</span>
          <span id="delete-btn" class="material-symbols-rounded">delete</span>
      </div>
    
    </div>

  </body>
</html>