<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style-home-chatbot.css">
</head>
<body>
    <div class="container">
        <h1>Let's find the best anime for you</h1>
        <p>Choose the chatbot you would like to use : </p>
        <div class="btn-group">
            <a href="/general-chatbot" class="btn btn-primary">General Chatbot</a>
            <a href="/subtitles-chatbot" class="btn btn-secondary">Subtitles Chatbot</a>
        </div>
    </div>
</body>
</html>
