<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recommender</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            var suggestionData = []; // To store suggestion data across eventts


            $("input[name='Mod_name']").on('input', function() {
                var inputVal = $(this).val();
                if (inputVal.length > 1) { // Check to reduce unnecessary requests
                    var isSuggestion = suggestionData.includes(inputVal);
                    if (isSuggestion) {
                        window.location.href = '/description?Mod_name=' + encodeURIComponent(inputVal);
                    }
                    $.ajax({
                        url: "/autocomplete",
                        type: "GET",
                        dataType: "json",
                        data: { term: inputVal },
                        success: function(data) {
                            suggestionData = data; // Store data for use later
                            var dataList = $('#anime-suggestions');
                            dataList.empty();
                            $.each(data, function(key, value) {
                                var option = $('<option></option>').attr("value", value);
                                dataList.append(option);
                            });
                        }
                    });
                }
            });



            $("form").on('submit', function(event) {
                event.preventDefault(); // Prevent the normal form submission
                var inputVal = $("input[name='Mod_name']").val();
                var isSuggestion = suggestionData.includes(inputVal);
                if (isSuggestion) {
                    window.location.href = '/description?Mod_name=' + encodeURIComponent(inputVal);
                } else {
                    alert("Please select a valid suggestion from the list.");
                }
            });

        });

    </script>
</head>
<body class="page-index">

    
    <div id="header">
        <h1><a href="/">Anime Atlas</a></h1>
        <form action="/description" method="post">
            <input type="text" name="Mod_name" placeholder="Enter anime name" list="anime-suggestions">
            <datalist id="anime-suggestions">
                <!-- Suggestions will be dynamically filled here -->
            </datalist>
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="rated-anime-list">
        <h2>Rated Anime</h2>
        {% if rated_anime %}
            <ul>
            {% for mod_name, details in rated_anime.items() %}
                <li>
                    <strong>{{ details['Name'] }}</strong> (Rating: {{ details['User_rating'] }})
                    <img src="{{ details['Image URL'] }}" alt="{{ details['Name'] }}" style="width:100px; height:auto;">
                    <!-- Add more details as needed -->
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No ratings available yet. Start by exploring and rating some anime!</p>
        {% endif %}
    </div>


    

</body>
</html>
