<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recommender</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <script>
    $(document).ready(function() {
        $("input[name='anime']").on('input', function() {
            var inputVal = $(this).val();
            $.ajax({
                url: "/autocomplete",
                type: "GET",
                dataType: "json",
                data: { term: inputVal },
                success: function(data) {
                    var dataList = $('#anime-suggestions');
                    dataList.empty(); // Clear previous suggestions
                    $.each(data, function(key, value) {
                        var option = $('<option></option>').attr("value", value);
                        dataList.append(option);
                    });

                    // Check if the current value of the input field is one of the suggestions
                    var isSuggestion = data.includes(inputVal);
                    if (isSuggestion) {
                        // Redirect to the description route with the inputVal parameter
                        window.location.href = '/description&Mod_name=' + inputVal;
                    }
                }
            });
        });
    });
    </script>
</head>
<body>
    <h1>Anime Recommender</h1>
    <form action="/recommend" method="post">
        <input type="text" name="anime" placeholder="Enter anime name" list="anime-suggestions">
        <datalist id="anime-suggestions">
            <!-- Suggestions will be dynamically filled here -->
        </datalist>
        <button type="submit">Recommend</button>
    </form>
</body>
</html>
