<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
    <h1>hello</h1>
</head>
<body>
    <div id="header">
        <h1><a href="/">Anime Atlas</a></h1>
        <form action="/description" method="post">
            <input type="text" name="Mod_name" placeholder="Enter anime name" list="anime-suggestions">
            <datalist id="anime-suggestions">
                <!-- Suggestions will be dynamically filled here -->
            </datalist>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>